:root {
  --bs-blue: #002f60;
  --bs-yellow: #fdb515;
  --bs-dark-gray: #333f48;
  --bs-lower-dark-gray: #5b656c;
  --bs-middle-gray: #d6f8f9;
  --bs-white: white;
  --bs-gray: #eff5f5;
  --bs-dark-yellow: #e8aa42;
  --bs-hover: #d6f8f9;

  --bs-font-sans-serif: "Libre Franklin", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
}

#nav-bar-header {
  position: relative;
  width: 100%;
  opacity: 1;
}

.title-text {
  color: var(--bs-blue);
  font-weight: 600;
  font-size: 35px;
}
#meet-the-team {
  padding: 40px 30px 40px 80px;
  background-color: var(--bs-gray);
  min-height: 500px;
}

#meet-the-team hr {
  border-top: 4px solid #fdb515;
  width: 80px;
  margin-left: 0;
}

.outer-row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.card {
  padding: 40px;
  margin: 20px 80px 20px 20px;
  border-radius: 10px;
  width: 380px;
}

.card a {
  color: var(--bs-blue);
}
.card a:hover {
  text-decoration: none;
  transform: translateY(-2px);
  transition: 0.3s;
  color: var(--bs-lower-dark-gray);
}

.card img {
  width: 100px;
  border-radius: 50%;
}
.img-card {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.card h2 {
  margin-right: 20px;
}

@media (max-width: 1100px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 450px) {
  #brand {
    margin-left: 0;
  }
  .card h2 {
    font-size: 17px;
  }
  .card h4 {
    font-size: 15px;
  }
  .card p {
    font-size: 12px;
  }
  .card img {
    width: 60px;
  }
  .card {
    min-width: 200px;
    padding: 12px 15px 15px;
  }
}
@media (max-width: 950px) {
  .content .right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .outer-row {
    display: block;
  }
}
